
MAIL_HOST = smtp.gmail.com
MAIL_USER = 
MAIL_PASS = 

CORS_ORIGIN = ["http://localhost:5173"]

JWT_SECRET = "Random_2.O"
FOLDER_NAME = "Random"


API_KEY = 
API_SECRET = 
CLOUD_NAME = 
CLOUDINARY_URL = 



PORT = 3000
#Database_url = "mongodb+srv://.mongodb.net/CourseCity"
Database_url = mongodb://127.0.0.1:27017/BetterBlog